<div class="row">
  <div class="column column-12">
    <h2>This Site Is Awesome!</h2>
  </div>
</div>
<div class="row">
  <div class="column column-4">
  </div>
  <div class="column column-8">
  </div>
</div>
